/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin: 0;
	img{
	padding-top:7px;
	}
	#connecti{
	display: inline-block;
	font-weight:bold;
	font-size:25px;
	margin-top:1px;
	margin-bottom:20px;
    vertical-align: 15px;
	}
	#common-header{
		background-color:#beff00;
		display: flex;
		justify-content:space-around;
		box-shadow:8px -1px 20px 0px;

		.logo{
			width: 40%;
			text-align: left;
		}

		.auth-info-links{
			margin-top:5px;
			width: 40%;
			text-align: right;

			display: flex;
			justify-content: flex-end;

			.butts{
				background-color:#000065;
				border-radius:10px;
				width:100px;
				height:40px;
				text-align:center;
				margin-bottom:5px;
				margin-top:8px;
				a{
					display:inline-block;
					height:40px;
					padding-top:9px;
					text-decoration:none;
					color:white;
					font-weight:bold;
					text-transform:uppercase;

				}


			}

			p:first-child{
			margin-right:15px;
			font-family: monospace;
			font-size:17px;
			}


		}
	}
}